.App {
	text-align: center;
	display: grid;
	grid-template-rows: 90vh auto;
}

.RagManagerUI {
	grid-row: 1;
}

#Navbar {
	grid-row: 2;
	justify-content: space-evenly;
	display: flex;
	list-style: none;
	padding-inline-start: unset;
	border-top: solid;
	border-top-width: thin;
}

#AddRagload {
	font-size: xx-large;
}

#RagloadEntry__form {
}

#RagloadEntry__form > label {
	display: block;
	font-size: x-large;
}

#RagloadEntry__hideArrow {
	font-size: xx-large;
}

.ragload-card__option-toggle {
	font-size: xx-large;
}
