.App {
	text-align: center;
	/* display: grid;
	grid-template-rows: 90vh auto; */
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.RagManagerUI {
	grid-row: 1;
}

#Navbar {
	grid-row: 2;
	justify-content: space-evenly;
	display: flex;
	list-style: none;
	padding-inline-start: unset;
	border-top: solid;
	border-top-width: thin;
}

#AddRagload {
	font-size: xx-large;
}

#month-view {
	display: grid;
	grid-template-rows: 1fr 3fr 1fr 5fr 1fr;
}

#month-view__current-month-bar {
	align-self: center;
}

#current-month-bar {
	display: grid;
	grid-template-columns: 1fr 5fr 5fr;
}

#month-view__calendar-month {
	border: solid thin;
	margin-left: 20px;
	margin-right: 20px;
}

#month-view__current-day-bar {
	align-self: center;
}

#current-day-bar {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

#month-view__ragload-table {
	border: solid thin;
	margin-left: 20px;
	margin-right: 20px;
}

#month-view__tool-bar {
	align-self: center;
}

#tool-bar {
	justify-content: space-evenly;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

#tool-bar__add {
}

#RagloadEntry__form {
}

#RagloadEntry__form > label {
	display: block;
	font-size: x-large;
}

#RagloadEntry__hideArrow {
	font-size: xx-large;
}

.ragload-card {
	border: solid thin;
}

.ragload-card__option-toggle {
	font-size: xx-large;
}

.ragload-table {
	margin: auto;
}

#sorted-ragloads__week-nav {
	border: solid;
	/* Remove border when element is finished */
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	font-size: x-large;
}

.sorted-ragloads__week-nav__text {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
}

.sorted-ragloads__day-accordion {
	border: solid;
	margin: 1em;
	padding: 0.5em;
}

.sorted-ragloads__day-accordion__info {
	display: grid;
	grid-template-columns: 20% 70% 10%;
	text-transform: capitalize;
}

#year-view {
	display: grid;
	grid-template-rows: 1fr 8fr 1fr;
}

#year-view__current-year-bar {
	border: thin;
}

#year-view__month-cards {
	border: dashed;
}

#year-view__tool-bar {
	border: dotted;
}

/* .table--information {
	border-top: solid thin;
	border-bottom: solid thin;
} */
